footer h1 {
    font-size: 3.25rem !important;
    
    @media  #{$brk-5} {
        font-size: 3.5rem !important;
    }   
}

footer .address-footer,
footer .contact-info-container {
                
    @media  #{$brk-5} {
        font-size: $main-font-size;
    }   
}

#up-arrow {
    
    font-size: $go-to-top-size;
    
    @media  #{$brk-5} {
        font-size: $go-to-top-size * 1.25;
    }   
}